/*Css for Zodiac Web app*/

* { /*Helps with math of margin and padding*/
    font-size: 100%;
    box-sizing: border-box;
}

[hidden] {
    display:none !important;
}

.help {
    float: left;
    background-color: white;
    margin: 0;
    padding: .5rem 1.5rem;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header{
    font-size: 2rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2rem;
    align-self: center;
    color: white;
}

.header header{
    text-align: center;
}

.date-input{
    padding: 0;
    font-size: 1rem;
}

body {
    background-image: url(images/zodiac-web-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

button {
    background-color: transparent;
    border: transparent;
}

#info{
    grid-area:inf;
    text-align: center;
    position: relative;
    top:5rem;
}

#name{
    background-color: whitesmoke;
}

#date{
    background-color: whitesmoke;
}

#description{
    background-color: whitesmoke;
}

.display{
    position: fixed;
    top:50%;
    left:50%;
    width: 24rem;
    align-items: center;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -60%);
}

#paladin{grid-area:pld;}
#warrior{grid-area:war;}
#darknight{grid-area:drk;}
#dragoon{grid-area:drg;}
#monk{grid-area:mnk;}
#ninja{grid-area:nin;}
#bard{grid-area:brd;}
#machinist{grid-area:mch;}
#black-mage{grid-area:blm;}
#summoner{grid-area:smn;}
#white-mage{grid-area:whm;}
#astrologian{grid-area:ast;}

.zodiac-buttons{
    display: grid;
    position: relative;
    top: 0;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(6, 3rem);
    justify-content: center;
    align-items: center;

    grid-template-areas: 
    "pld . . . brd"
    "war . . . mch"
    "drk . . . blm"
    "drg . . . smn"
    "mnk . . . whm"
    "nin . . . ast"
    ;
    gap: 2.5rem;
}

#hero {
    height: 60%;
    width: 60%;
}